/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@msi/cobalt/assets/styles/themes.scss';
@import 'assets/extra-margins.scss';

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--background-level-3);
  
  &.dark {
    @include dark-theme;
  }
}
