.gridWidth{
    width: 100%;
    max-width: 70%; 
    min-width: 36%;
    flex: 1 1; 
    display: block ;   
}

.headerPosition
{
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    display: block;
    min-height: 500px;
}

.msi-data-table{
    width: 85% !important;
}

::ng-deep #eventTypeListGrid tr td:nth-child(1),
::ng-deep #eventTypeListGrid tr td:nth-child(2),
::ng-deep #eventTypeListGrid tr th:nth-child(1),
::ng-deep #eventTypeListGrid tr th:nth-child(2) {
    width:250px !important;
}
::ng-deep #eventTypeListGrid tr td:nth-child(3),
::ng-deep #eventTypeListGrid tr td:nth-child(4),
::ng-deep #eventTypeListGrid tr td:nth-child(5),
::ng-deep #eventTypeListGrid tr th:nth-child(3),
::ng-deep #eventTypeListGrid tr th:nth-child(4),
::ng-deep #eventTypeListGrid tr th:nth-child(5){
    width:50px !important;    
}

.msi-btn-icon-remove{
    color: #d0021bff;
}

::ng-deep .ngx-pagination  a{
    border:1px;
    margin-left:0px;
    margin:0px 5px !important;    
    color: #ffffff !important;      
    border-radius: 15px !important; 
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,.1) !important;
    &:hover{
        background:#2199e8 !important;
    }
  }

  ::ng-deep .ngx-pagination .current{
    border-radius: 25px !important; 
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,.1) !important;
  }

  ::ng-deep .ngx-pagination {
      margin-top: .5rem;
  }