<div class="msi-flex content mt-20">   
  <msi-spinner size="large" class="spinner" *ngIf="showProgress"></msi-spinner>  
  <div class="gridWidth">        
  <div *ngIf="!showProgress">
    <div class="button-group">
      <button type="submit" class="msi-btn mt-20" [routerLink]="['../add']">
        <msi-icon name="ic_add"> </msi-icon>
         Add New Type</button>
    </div>
    <div>
    <table msi-data-table  id="eventTypeListGrid"      
          [rows]="eventTypeList | paginate: { id: 'pageEvents', itemsPerPage: PageSize, currentPage: PageNumber, totalItems: rowCount }"  class="mt-20"> 
          <ng-container msiColDef="Name" colType="text">
            <ng-container *msiHeaderCellDef><div>Event Type</div></ng-container>
            <ng-container *msiCellDef="let row" class="textColWidth">{{row.Name}}</ng-container>
          </ng-container>
          <ng-container msiColDef="GroupName" colType="text">
            <ng-container *msiHeaderCellDef><div>Group</div></ng-container>
            <ng-container *msiCellDef="let row" class="textColWidth">{{row.GroupName}}</ng-container>
          </ng-container>
          <ng-container msiColDef="icon" colType="icon">
            <ng-container *msiHeaderCellDef></ng-container>
            <ng-container *msiCellDef="let row" class="imgColWidth">
              <button class="msi-btn msi-btn-icon msi-btn-icon--active icon-width" #tooltip="msiTooltip" msiTooltip="Edit" (click)="tooltip.hide()"
                [routerLink]="['../manage', row.Id]">
                <msi-icon name="ic_edit" ></msi-icon>
              </button>
            </ng-container>
          </ng-container>
          <ng-container msiColDef="icon" colType="icon" >
            <ng-container *msiHeaderCellDef></ng-container>
            <ng-container *msiCellDef="let row" >
              <button class="msi-btn msi-btn-icon msi-btn-icon--active" #tooltip="msiTooltip" msiTooltip="Edit Template" (click)="tooltip.hide()"
              [routerLink]="['../edit-template', row.Id]">
                <msi-icon name="ic_note"></msi-icon>
              </button>
            </ng-container>
          </ng-container>
          <ng-container msiColDef="icon" colType="icon">
            <ng-container *msiHeaderCellDef></ng-container>
            <ng-container *msiCellDef="let row" >
              <button class="msi-btn msi-btn-icon msi-btn-icon-remove" #tooltip="msiTooltip" msiTooltip="Delete" (click)="[tooltip.hide(), removeEventType(row.Id)]">
                <msi-icon name="ic_remove"></msi-icon>
              </button>
            </ng-container>
          </ng-container>
      </table>
      <pagination-controls *ngIf="rowCount > 0" (pageChange)="getPage($event)" id="pageEvents"></pagination-controls>  
      </div>
    </div> 
  </div>   
</div>